* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', 'PT Sans', sans-serif;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.customBorder {
  border: 2px solid var(--clr-ligher-dark);
}

.customBorder::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 20px;
  background-color: var(--clr-dark);
  border-bottom: 2px solid var(--clr-ligher-dark);
  transform-origin: 0px center;
  transform: rotate(45deg) translate(0px, -120%);
}

.customBorderPrimary {
  border: 2px solid var(--clr-primary);
}

.customBorderPrimary::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 20px;
  background-color: var(--clr-primary);
  border-bottom: 2px solid var(--clr-primary);
  z-index: 10;
  transform-origin: 0px center;
  transform: rotate(45deg) translate(0px, -120%);
}

