@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Quicksand:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-primary: #d3bb7b;
    --clr-secondary: #9E4020;
    --clr-light: #F2F2F2;
    --clr-dark: #011a11;
    --clr-ligher-dark: #244E3E;

    background-color: var(--clr-dark);

    --toastify-color-success: var(--clr-primary) !important;
    --toastify-icon-color-success: var(--clr-primary) !important;


}

.my-header {
    transition: all 0.5s ease-in-out;
}

input[type=text],
input[type=email],
textarea {
    background-color: var(--clr-ligher-dark);
    padding-block: 1rem;
    padding-inline: 0.5rem;
    color: var(--clr-light);
    border-bottom: 2px solid var(--clr-primary);
    font-family: "Quicksand";
    font-weight: 300;
}



::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-ligher-dark);
    border-bottom-left-radius: 100vh;
    border-bottom-right-radius: 100vh;
}

::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 100vh;
    border-bottom-right-radius: 100vh;
    background-color: var(--clr-primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-light);
}



@media print {


    @page {
        size: A4;
        margin-top: 1in;
    }
    @page :first {
        margin-top: 0.5in;
    }

    #cv-page *,
    #ContactMeId * {
        opacity: 1 !important;
        transform: none !important;
    }

    .print-img {
        width: 20px;
    }
      

    .print-pagebreak {
        break-after: page;
    }

    .custom-no-print {
        display: none;
    }

    .custom-cv-items-container {
        margin-top: 1rem !important;
    }

    .custom-cv-item-print {
        padding: 16px !important;
    }

    .custom-cv-item-info-print {
        margin-block: 0.5rem !important;
    }


}